<div class="page-header">
    <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
            <nz-avatar nzIcon="user" [nzSize]="50" nzSrc="assets/images/avatars/thumb-3.jpg"></nz-avatar>
            <div class="media-body m-l-15">
                <h4 class="m-b-0">Welcome Admin!</h4>
                <span class="text-gray">Automotive OEM</span>
            </div>
        </div>
        <div class="d-md-flex align-items-center d-none">
            <div class="media align-items-center m-r-40 m-v-5">
                <div class="font-size-27">
                    <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
                </div>
                <div class="d-flex align-items-center m-l-10">
                    <h2 class="m-b-0 m-r-5">6</h2>
                    <span class="text-gray">Builds Configs Created</span>
                </div>
            </div>
            <div class="media align-items-center m-r-40 m-v-5">
                <div class="font-size-27">
                    <i class="text-success" nz-icon nzType="appstore" theme="outline"></i>
                </div>
                <div class="d-flex align-items-center m-l-10">
                    <h2 class="m-b-0 m-r-5">4</h2>
                    <span class="text-gray">Launch Configs Created</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="file-manager-wrapper">
    <div class="file-manager-nav" [ngClass]="{'nav-open': isNavOpen}">
        <div class="d-flex flex-column justify-content-between h-100">
            <div class="p-t-20">
                <ul nz-menu [nzMode]="'inline'">
                    
                    <li nz-menu-item *ngFor="let carSegment of carSegmentsData; let i = index" [nzSelected]="i==0" (click)="segmentChange(i)">
                        <i class="text-primary"  style="font-size: 32px;"  nz-icon nzType="{{carSegment.svg}}" >
                        </i>
                        <span>{{carSegment.label}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="file-manager-content">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <nz-card>
                        <div class="d-flex justify-content-between">
                            <div class="media align-items-center">
                                <i nz-icon nzType="{{carSegmentSelected.svg}}" class="text-primary" style="font-size: 48px;"></i>
                                <div class="m-l-10">
                                    <h4 class="m-b-0">{{carSegmentSelected.label}} | {{carSegmentSelected.short_desc}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-40">
                            <h6>Description:</h6>
                            <p>{{carSegmentSelected.long_desc}}</p>
                        </div>
                    </nz-card>
                </div>
            </div>
            <!-- PART 1: KPI Cards -->
            <div class="m-l-20">
                <h4 class="font-weight-normal m-b-10">{{carSegmentSelected.label}} Segment KPIs</h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <nz-avatar [nzSize]="60" nzIcon="dollar" class="ant-avatar-blue"  ></nz-avatar>
                            <div class="m-l-15">
                                <h2 class="m-b-0">$23,523</h2>
                                <p class="m-b-0 text-muted">Annual Sales</p>
                            </div>
                        </div>
                    </nz-card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <nz-avatar [nzSize]="50" nzIcon="line-chart" class="ant-avatar-cyan"  ></nz-avatar>
                            <div class="m-l-15">
                                <h2 class="m-b-0">+ 17.21%</h2>
                                <p class="m-b-0 text-muted">Average Price</p>
                            </div>
                        </div>
                    </nz-card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <nz-avatar [nzSize]="50" nzIcon="profile" class="ant-avatar-gold"  ></nz-avatar>
                            <div class="m-l-15">
                                <h2 class="m-b-0">3,685</h2>
                                <p class="m-b-0 text-muted">Price Std Dev</p>
                            </div>
                        </div>
                    </nz-card>
                </div>
                <div class="col-md-6 col-lg-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <nz-avatar [nzSize]="50" nzIcon="user" class="ant-avatar-purple"  ></nz-avatar>
                            <div class="m-l-15">
                                <h2 class="m-b-0">1,832</h2>
                                <p class="m-b-0 text-muted">Variants Available</p>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div>
            <!-- PART 2: SALES RELATED GRAPH -->
            <div class="m-l-20">
                <h4 class="font-weight-normal m-b-10">{{carSegmentSelected.label}} Sales Performance</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <nz-card>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Sales Across Time</h5>
                            <div>
                                <nz-radio-group [(ngModel)]="revenueChartFormat">
                                    <label nz-radio-button nzValue="revenueMonth">Month</label>
                                    <label nz-radio-button nzValue="revenueYear">Year</label>
                                </nz-radio-group>
                            </div>
                        </div>
                        <div class="m-t-50" style="height: 330px">
                            <canvas ngChartjs 
                                [datasets]="revenueChartData" 
                                [labels]="revenueChartLabels"
                                [options]="revenueChartOptions" 
                                [colors]="revenueChartColors" 
                                [legend]="false"
                                [chartType]="revenueChartType">
                            </canvas>
                        </div>
                    </nz-card>
                </div>
                <div class="col-md-12 col-lg-6">
                    <nz-card>
                        <h5 class="m-b-0">% Sales Against other Segments</h5>
                        <div class="m-v-60 text-center" style="height: 200px">
                            <canvas ngChartjs 
                                [data]="customersChartData" 
                                [labels]="customersChartLabels" 
                                [chartType]="customersChartType"
                                [colors]="customersChartColors"
                                [options]="customersChartOptions"
                                [legend]="false">
                            </canvas>
                        </div>
                        <div class="row border-top p-t-25">
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <nz-badge nzStatus="default" [nzColor]="cyan"></nz-badge>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">350</h4>
                                            <p class="m-b-0 muted">New</p>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <nz-badge nzStatus="default" [nzColor]="purple"></nz-badge>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">450</h4>
                                            <p class="m-b-0 muted">Returning</p>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-flex justify-content-center">
                                    <div class="media align-items-center">
                                        <nz-badge nzStatus="default" [nzColor]="gold"></nz-badge>
                                        <div class="m-l-5">
                                            <h4 class="m-b-0">100</h4>
                                            <p class="m-b-0 muted">Others</p>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nz-card>
                </div>
            </div>
            <!-- PART 3: Price Distribution for Car A -->
            <div class="m-l-20">
                <h4 class="font-weight-normal m-b-10">{{carSegmentSelected.label}} Price Distribution</h4>
                <div class="row">
                    <div class="col-md-12">
                        <nz-card>
                            <echarts [options]="priceDistribution" class="demo-chart"></echarts>
                        </nz-card>
                    </div>
                </div>
            </div>
            <!-- PART 4: Features Based Clusters for Car A -->
            <div class="m-l-20">
                <h4 class="font-weight-normal m-b-10">{{carSegmentSelected.label}} Clusters Based On Features</h4>
                <div class="row">
                    <div class="col-md-12">
                        <nz-card>
                            <app-bar3d-dataset></app-bar3d-dataset>
                        </nz-card>
                    </div>
                </div>
            </div>
            <!-- PART 5: All Model Variant Data Table -->
            <div class="row">
                <div class="col-md-12">
                    <nz-card>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Vehicles in this Segement</h5>
                        </div>
                        <div class="m-t-30">
                            <nz-table #productTable [nzData]="productsList" [nzShowPagination]="false" class="no-border-last">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Sales</th>
                                        <th>Earning</th>
                                        <th>Stock Left</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productTable.data">
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <nz-avatar nzShape="square"  nzIcon="picture" [nzSrc]="item.avatar"></nz-avatar>
                                                <span class="m-l-10">{{item.name}}</span>
                                            </div>
                                        </td>
                                        <td>{{item.sales}}</td>
                                        <td>${{item.earn | number:'3.2-5'}}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="w-90 p-r-10">
                                                    <nz-progress *ngIf="item.stock > 60" [nzStrokeColor]="cyan" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                                    <nz-progress *ngIf="item.stock > 40 && item.stock < 60" [nzStrokeColor]="gold" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                                    <nz-progress *ngIf="item.stock < 40" [nzStrokeColor]="red" [nzPercent]="item.stock" nzSize="small" [nzShowInfo]="false"></nz-progress>
                                                </div>
                                                <span>{{item.stock}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </nz-card>
                </div>
            </div>
        </div>    
    </div>
</div>    