<div class="header">
    <div class="logo logo-dark">
        <a href="">
            <img src="assets/images/logo/Segmently-logo.png" style="max-height: 40px; margin-top: 5px;" alt="Logo">
            <img class="logo-fold" src="assets/images/logo/Segmently-logo.png"  style="max-height: 35px;margin-top: 15px;" alt="Logo">
        </a>
        <p style="text-align: center;">SEGMENTLY</p>
    </div>
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a (click)="toggleFold()">
                    <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a (click)="toggleExpand()">
                    <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
                </a>
            </li>
        </ul>
        <!-- <ul class="nav-right">
            <li>
                <a (click)="quickViewToggle()">
                    <i nz-icon nzType="appstore" theme="outline"></i>
                </a>
                <nz-drawer [nzWidth]="280" nzTitle="Quick View" [nzClosable]="false" [nzVisible]="quickViewVisible" nzPlacement="right" (nzOnClose)="quickViewToggle()">
                    <ng-container *nzDrawerContent>
                        <app-quick-view></app-quick-view>
                    </ng-container>
                </nz-drawer>
            </li>
        </ul> -->
    </div>
</div>    