<div>
    <p class="head">Sales Data</p>

<!-- <div style="background: #ecececf8;padding:30px;"> -->
    <nz-radio-group [(ngModel)]="radioValue">
        <label nz-radio-button nzValue="year">Yearly</label>
        <label nz-radio-button nzValue="month">Monthly</label>
    </nz-radio-group>
    <!-- <div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
             
        </nz-card>
      </div>
      </div>
    </div>
</div> -->

<!-- charts -->
<ul>
  <li>
    <div id="main" style="width: 600px;height:400px;"></div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          
        </tr>
      </tbody>
    </nz-table>
  </li>

  <li>
    <div id="main1" style="width: 500px;height:600px;"></div>
  </li>
</ul>


<div id="main2" style="width: 700px;height:700px;"></div>

</div>
